# FILE: .github/workflows/test.yaml
name: Run software tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        activate-environment: test_env
        use-mamba: true
        python-version: "3.9"

    - name: Cache conda env
      uses: actions/cache@v3
      with:
        path: |
          /usr/share/miniconda/envs/test_env
          ~/.conda/pkgs
        key: conda-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          conda-${{ runner.os }}-

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        # Install dependencies from pyproject.toml
        mamba install -y -c conda-forge \
          tomlkit \
          requests \
          tqdm \
          pandas \
          pytest \
          make \
          pip

    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e .

    - name: Run tests
      shell: bash -l {0}
      run: |
        make test